@import "../globals/colors";


#class-page {
  background: url("../img/Background.png") center center no-repeat;
  background-size: cover;
  height: 93vh;
  padding-top: 5%;
}

#class-card {
  .content {
    margin: 10px;
    padding: 10%;
    height: 75vh;
    border-radius: 5px;
    background-color: rgba(white, 0.4) !important;

    .card {
      background: none;
    }

    .card-content {
      padding: 5%;
      background-color: $blue-dark;
      color: $ycream;
      font-family: 'Source Code Pro', monospace;
      font-size: 12px;
    }
  }
}
