@import "../globals/colors";

#technologies-partial {
  background: url("../img/Background.png") center center no-repeat;
  background-size: cover;
  height: 92vh;
  padding-top: 3%;

  img {
    width: 90%;
    max-width: 90px;
    padding: 10%;
    background-color: rgba($blue-light, 0.3);
    border-radius: 4px;
  }

  .tools-text {
    overflow: visible !important;
    padding: 0;
    margin: 0;

    img {
      background-color: transparent !important;
      max-height: 180px;
      min-height: 120px;
      object-fit: cover;
      object-position: center;
    }
  }

  .client-server-text {
    padding: 0;
    margin: 0;
    overflow: visible !important;

    img {
      padding: 10%;
      margin: 10%;
      background-color: transparent !important;
      max-height: 300px;
      min-height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }

  .side-label {
    padding: 10px;
    margin: 0;
    position: sticky;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: $blue-light;
    text-align: left;
    letter-spacing: 6px !important;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  .top-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: $blue-light;
    text-align: center;
    letter-spacing: 6px !important;
  }



  #technologies-brace{
    width: 60%;
    margin: 0 20%;
    padding: 0;

    .full-size-image {
      background-color: transparent !important;
      max-height: 40px;
      min-width: 100%;
      object-fit: fill;
      padding: 0;
      margin: 0;
      -webkit-filter: invert(1) sepia(1);
      filter: invert(1) sepia(1);
    }
  }

  #technologies-container {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }


  #technologies-tools {
    margin: 2%;
    background-color: $ycream;
    padding: 10px;
    padding-left: 0;
    border-radius: 4px;

    .side-label {
      bottom: -20%;
    }
  }


  #technologies-front {
    width: 46%;
    margin: 2%;
    background-color: $ycream;
    padding: 10px;
    padding-left: 0;
    border-radius: 4px;

    .side-label {
      top: 200%;
      margin: 20px;
    }

  }

  #technologies-server {
    width: 46%;
    margin: 2%;
    background-color: $ycream;
    padding: 10px;
    padding-left: 0;
    border-radius: 4px;

    .side-label {
      top: 100px;
      margin: 20px;
    }

  }
}
