body {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 1px !important;
  width: 100% !important;
  z-index: 11 !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  color: #012340; }

.hidden {
  visibility: hidden;
  height: 0px; }

.hidden-top {
  visibility: hidden;
  height: 0px; }

.mb-splash-image {
  height: 100vh;
  width: 100vw; }

#scroll-button {
  min-height: 15%;
  min-width: 100vw;
  position: absolute;
  bottom: 0%;
  z-index: 9999; }

#mobile-shown-elements {
  height: 100px; }

#mobile-shown-elements > img {
  margin: 2px 5px;
  height: 94px;
  border-radius: 100%; }

#mobile-shown-elements > h2 {
  margin: 20px 0;
  color: #F2F0D0;
  font-size: 45px;
  text-transform: uppercase; }

.mb-btn {
  height: 60px;
  margin: 0; }

.mb-even {
  float: left; }

.mb-odd {
  float: right; }

.mb-text-even {
  background-color: #024059;
  text-align: right;
  padding-right: 3px;
  padding-left: 0; }

.mb-text-odd {
  text-align: left;
  background-color: #2198A6;
  padding-left: 3px;
  padding-right: 0; }

#mobile-shown-elements {
  border: 1px solid #F2F0D0; }

.md-card-color {
  background-color: #F2F0D0; }

#mobile-person-sites {
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px; }

#mobile-person-desc {
  font-size: 16px;
  padding-left: 45px;
  padding-right: 45px; }

#mobile-search-bar {
  position: fixed;
  background-color: #F2F0D0;
  top: 0px;
  padding: 20px;
  font-size: 26px;
  color: #012340;
  text-align: center;
  height: 0px; }
  #mobile-search-bar ::-webkit-input-placeholder {
    font-size: 26px;
    color: #012340; }
  #mobile-search-bar ::-moz-placeholder {
    font-size: 26px;
    color: #012340; }
