<!-- Student bio with name picture summary and links-->
<div id="student-card">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <!-- students full name-->
        <span class="card-title">Student Name</span>

        <!-- image of student-->
        <div class="card-image">
          <img src="images/sample-1.jpg">
        </div>
        
        <!-- stub for description...students elevator pitch-->
        <div class="card-content">
          <p>140 words or less description</p>
        </div>

        <!--s tub for links to each persons required artifacts-->
        <div class="card-action">
          <a href="#">Your LinkedIn Link</a>
          <a href="#">Your GitHub Repo Link</a>
          <a href="#">Your Personal Site Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
