<!--sticky nav bar that show the group navigation and the technology navigation -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div  class="brand-logo center">
        <h3>&#60;Evening Cohort 3/&#62;</h3>
        <h5>Part-Time Students, Full-Time Coders</h5>
      </div>


      <ul class="right hide-on-med-and-down">
        <li><a ng-href="#/people"><i class="fa fa-group" aria-hidden="true"></i></a></li>
        <li><a ng-href="#/technologies"><i class="fa fa-gears" aria-hidden="true"></i></i></a></li>
      </ul>
    </div>
  </nav>
</div>
