<!--sticky nav bar that show the group navigation and the technology navigation -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <h1>Evening Cohort 3</h1>
      <h5>Part-Time Students, Full-Time Coders</h5>
      <ul class="right hide-on-med-and-down">
        <li><a href="facesOne.html"><i class="fa fa-group" aria-hidden="true"></i></a></li>
        <li><a href="Techology.html"><i class="fa fa-gears" aria-hidden="true"></i></i></a></li>
      </ul>
    </div>
  </nav>
</div>
