<!--sticky nav bar that show the group navigation and the technology navigation -->
<div class="navbar-fixed">
  <nav ng-class="[{'bottom-nav': !topNav}, {'top-nav': topNav}]">
    <div class="nav-wrapper">
      <a class="brand-logo center" ng-href="#/people">
        <h3>&#60;Evening Cohort 3/&#62;</h3>
        <h5>Part-Time Students, Full-Time Coders</h5>
      </a>


      <ul class="right hide-on-med-and-down">
        <li><a ng-href="#/people"><img src="/img/Coders.png" class="icons"></a></li>
        <li><a ng-href="#/technologies"><img src="/img/Technologies_DarkBlue.png" class="icons"></a></li>
      </ul>
    </div>
  </nav>
</div>
