<div id="splashpage">
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/image-of-class.png">
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer">
     <div class="container">
       <div class="row">
         <div class="col l6 s12">
           <h1 class="white-text">Evening Cohort 3</h1>
         </div>
         <div class="col l4 offset-l2 s12">
           <h5 class="white-text">Part-Time Students, Full-Time Coders</h5>
         </div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="container">
       © 2016 Cohort E3
       </div>
     </div>
   </footer>
</div>
