<div ng-include="'partials/nav.html'"></div>


<div id="technologies-partial">
  <div id="technologies-tools">
    <div ng-repeat="tool in technologies.tools">
      <div data-position="bottom" data-delay="50" data-tooltip="{{tool.name}}"  class="tooltipped">
        <img src="{{tool.image}}">
      </div>
    </div>
  </div>


  <div id="technologies-tools">
    <!-- MIDDLE PICTURE -->
  </div>

<div id="technologies-container">
    <div id="technologies-front">
      <div ng-repeat="front in technologies.front">
        <img src="{{front.image}}" data-position="top" data-delay="50" data-tooltip="{{front.name}}"  class="tooltipped">
      </div>
    </div>
    <div id="technologies-server">
      <div ng-repeat="server in technologies.server">
        <img src="{{server.image}}" data-position="top" data-delay="50" data-tooltip="{{server.name}}" class="tooltipped">
      </div>
    </div>
  </div>
</div>
